profiles {
    docker {
        process.container = "ajhodgkinson/cap"
        docker.enabled = true
    }
    conda {
        process.conda = "$baseDir/environment.yaml"
    }
    singularity {
        process.container = "docker://ajhodgkinson/cap"
        singularity.cacheDir = "/scratch/project_2003316/PAC/tmp"
        singularity.autoMounts = true
        singularity.enabled = true
    }
}
