profiles {
    docker {
        process.container = "annasaukkonen/pac_pipeline:v1"
        docker.enabled = true
    }
    conda {
        process.conda = "$baseDir/environment.yaml"
    }
    singularity {
        process.container = "annasaukkonen/pac_pipeline:v1"
        singularity.cacheDir = "/scratch/project_2003316/PAC/tmp"
        singularity.autoMounts = true
        singularity.enabled = true
    }
}

params {
    genome_version      = ''
    igenomes_path       = 's3://ngi-igenomes/igenomes/'
    outdir              = 'pac_results'
}

includeConfig 'conf/genome_version.config'