
params {

  genomes {

    'GRCh37' {

      genome 	= "${params.igenomes_path}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
      annot 	= "${params.igenomes_path}/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
      gencode_bed     = "${baseDir}/bed/gencode.v19.GRCh37.genes.chr.bed"
    }

    'GRCh38' {

      genome  = "${params.igenomes_path}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
      annot   = "${params.igenomes_path}/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.gtf"
      gencode_bed     = "${baseDir}/bed/gencode.v26.GRCh38.genes.chr.bed"

    }
  } 
}