
params {

  genomes {

    'GRCh37' {

      genome 	= "${params.igenomes_path}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/"
      annot 	= "${params.igenomes_path}/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"

    }

    'GRCh38' {

      genome  = "${params.igenomes_path}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/"
      annot   = "${params.igenomes_path}/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.gtf"

    }
  } 
}