
params {

  genomes {

    'GRCh37' {

      genome 	= "${params.igenomes_path}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
      annot 	= "${params.igenomes_path}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"

    }

    'GRCh38' {

      genome 	= "${params.igenomes_path}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
      annot 	= "${params.igenomes_path}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"

    }
  } 
}